// src/styles/_variables.scss

// Tông màu "Vibrant Vitality"
$primary-color: #FF4E50;   // Một màu đỏ cam rực rỡ
$secondary-color: #FC913A; // Một màu cam vàng năng động

// Màu nền
$background-dark: #1a1a1a;
$background-light: #2c2c2c;
$surface-color: #383838;

// Màu chữ
$text-primary: #FFFFFF;
$text-secondary: #a7a7a7;

// Các màu khác
$success-color: #4CAF50;
$error-color: #F44336;