@use 'src/styles/index' as *;
@import "../../../styles/_variables.scss"; 


.group-detail-page {
  max-width: 900px;
  margin: 0 auto;

  .group-content {
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .placeholder-text {
      color: $text-secondary;
      text-align: center;
      padding: 40px;
      background-color: $background-component;
      border-radius: $border-radius-md;
    }
  }
}