.profile-page {
  max-width: 990px;
  margin: 20px auto; // Căn giữa trang
  padding: 0 15px;
}

.profile-content {
  // Phần này sẽ chứa danh sách các bài post của người dùng
  margin-top: -30px; // Kéo phần nội dung lên một chút cho đẹp
}
