@use '../styles/index' as *;
@import "../../../styles/_variables.scss"; 


.profile-page {
  max-width: 900px;
  margin: 0 auto;
}

.page-status {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: $text-secondary;

  &.error {
    color: $error-color;
  }
}