.topup-page {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .coin-packages-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .payment-form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fafafa;

    button {
      margin-top: 1rem;
      width: 100%;
      padding: 0.75rem;
      background-color: #007bff;
      color: rgb(7, 7, 7);
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      
      &:hover {
        background-color: #0056b3;
      }
    }
    
  }
  .error-message{
    color:black
  }
}
