@use '../../styles/index' as *; 
@import "../../../styles/_variables.scss"; 

.header {
  height: 60px;
  padding: 0 30px;
  background-color: $background-component;
  border-bottom: 1px solid $surface-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;

  .user-profile-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
  }
}