// @use '../../styles/variables' as *;


.rightbar {
  width: 300px;
  padding: 20px;
  background-color: $background-component;
  border-left: 1px solid $surface-color;
  .rightbar-section {
    margin-bottom: 30px;
    h4 {
      color: $text-secondary;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 15px;
    }
  }
}